# GU√çA 2: ESTRUCTURAS DE PYTHON

**Nombre:** Marjoris Elena Parejo Castillo üë∑üèª‚Äç‚ôÄÔ∏èüìä  
**LinkedIn:** [Perfil Marjoris Parejo](https://www.linkedin.com/in/marjorisparejo/)üîó  
**Asignatura:** Programaci√≥n para la Ciencia de Datos üíªüìà  
**Programa:** Especializaci√≥n en Machine Learning üß†ü§ñ

---

En este informe se trabaja con la base de datos *"10.000 Empresas mas Grandes del Pa√≠s"*, obtenida de datos abiertos del Gobierno nacional de Colombia.

Las columnas de esta base de datos incluyen las siguientes variables:  
1. **NIT:**  N√∫mero de identificaci√≥n tributaria (NIT) de la Sociedad.  
2. **RAZ√ìN SOCIAL:** Nombre de la sociedad.
3. **SUPERVISOR:** Empresa que ejerce supervisi√≥n.
4. **REGI√ìN**: Regi√≥n geogr√°fica en que se ubica la sociedad.
5. **DEPARTAMENTO DOMICILIO:** Departamento de domicilio de la sociedad.
6. **CIUDAD DOMICILIO:** Ciudad de domicilio de la sociedad.
7. **CIIU:** Clasificaci√≥n Industrial Internacional Uniforme.
8. **MACROSECTOR:** Sector al que pertenece la sociedad.
9. **INGRESOS OPERACIONALES:** Ingresos operacionals registrados por la sociedad.
10. **GANANCIA (P√âRDIDA):** Ganancias registradas por la sociedad.
11. **TOTAL ACTIVOS:** Total activos registrados por la sociedad.
12. **TOTAL PASIVOS:** Total pasivos registrados por la sociedad.
13. **TOTAL PATRIMONIO:** Total patrimonio registrados por la sociedad.
14. **A√±o de Corte:** Fecha en que finaliza el periodo contable a reportar en SIRFIN.

## Actividad 1. Limpieza iterativa üßπ

In [702]:
#Para iniciar se importa pandas
import pandas as pd

In [703]:
#A continuaci√≥n se carga la base de datos sobre la que se va a trabajar como un dataframe 
df=pd.read_csv('10.000_Empresas_mas_Grandes_del_Pa_s_20240822.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     20000 non-null  int64
 1   RAZ√ìN SOCIAL            19998 non-null  object
 2   SUPERVISOR              20000 non-null  object
 3   REGI√ìN                  20000 non-null  object
 4   DEPARTAMENTO DOMICILIO  20000 non-null  object
 5   CIUDAD DOMICILIO        20000 non-null  object
 6   CIIU                    20000 non-null  int64
 7   MACROSECTOR             20000 non-null  object
 8   INGRESOS OPERACIONALES  20000 non-null  object
 9   GANANCIA (P√âRDIDA)      20000 non-null  object
 10  TOTAL ACTIVOS           20000 non-null  object
 11  TOTAL PASIVOS           20000 non-null  object
 12  TOTAL PATRIMONIO        20000 non-null  object
 13  A√±o de Corte            20000 non-null  int64
dtypes: int64(3), object(11)
memory usage: 2.1+ MB

El dataframe contiene **20000** filas que son el n√∫mero de registros y **14** columnas que son las variables.

In [705]:
#Se observan las primeras filas del dataframe para conocer la estructura de los datos. 
df.head()

,NIT,RAZ√ìN SOCIAL,SUPERVISOR,REGI√ìN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (P√âRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,A√±o de Corte
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,610,MINERO,$144.82,$33.41,$216.85,$125.81,$91.03,2022
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,Costa Atl√°ntica,BOLIVAR,CARTAGENA-BOLIVAR,1921,MANUFACTURA,$27.86,$2.19,$42.84,$16.48,$26.36,2022
2,830095213,ORGANIZACI√ìN TERPEL S.A.,SUPERFINANCIERA,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,4661,COMERCIO,$23.60,$0.33,$7.48,$4.47,$3.01,2022
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$16.39,$6.05,$10.45,$9.00,$1.45,2022
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$15.27,$2.16,$14.27,$6.34,$7.93,2022

In [706]:
#Se observan las √∫ltimas filas del dataframe para verificar su estructura y la carga total de los datos
df.tail()

,NIT,RAZ√ìN SOCIAL,SUPERVISOR,REGI√ìN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (P√âRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,A√±o de Corte
19995,900440256,EFIVENTAS Y SERVICIOS SAS,SUPERSOCIEDADES,Costa Atl√°ntica,ATLANTICO,BARRANQUILLA-ATLANTICO,7490,SERVICIOS,$0.01,$0.00,$0.01,$0.01,$0.00,2021
19996,890115230,QUIMIFEX SAS,SUPERSOCIEDADES,Costa Atl√°ntica,ATLANTICO,BARRANQUILLA-ATLANTICO,4664,COMERCIO,$0.01,$0.00,$0.01,$0.01,$0.00,2021
19997,901021850,EDGE NETWORK SERVICES COLOMBIA SAS,SUPERSOCIEDADES,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,6190,SERVICIOS,$0.01,$0.00,$0.04,$0.00,$0.04,2021
19998,900350192,DESTINO COMERCIAL SAS,SUPERSOCIEDADES,Antioquia,ANTIOQUIA,SABANETA-ANTIOQUIA,4771,COMERCIO,$0.01,$0.00,$0.01,$0.00,$0.00,2021
19999,830123119,DISTRIBUIDORA DE MAQUINARIA AGRICOLA Y PECUARI...,SUPERSOCIEDADES,Bogot√° - Cundinamarca,CUNDINAMARCA,CHIA-CUNDINAMARCA,4653,COMERCIO,$0.01,$0.00,$0.01,$0.01,$0.00,2021

In [707]:
#Se visualiza el tipo de dato para cada una de las variables
df.dtypes

NIT                        int64
RAZ√ìN SOCIAL              object
SUPERVISOR                object
REGI√ìN                    object
DEPARTAMENTO DOMICILIO    object
CIUDAD DOMICILIO          object
CIIU                       int64
MACROSECTOR               object
INGRESOS OPERACIONALES    object
GANANCIA (P√âRDIDA)        object
TOTAL ACTIVOS             object
TOTAL PASIVOS             object
TOTAL PATRIMONIO          object
A√±o de Corte               int64
dtype: object

In [708]:
#Se valida si existen registros nulos en el dataframe
for columna in df.columns:
    num_nulos = df[columna].isnull().sum()
    if num_nulos > 0:
        print(f"La columna '{columna}' tiene {num_nulos} valores nulos.")

La columna 'RAZ√ìN SOCIAL' tiene 2 valores nulos.

In [709]:
#Se observan las dos filas que poseen valores nulos
df[df.isnull().sum(axis=1) > 0]

,NIT,RAZ√ìN SOCIAL,SUPERVISOR,REGI√ìN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (P√âRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,A√±o de Corte
3529,830065974,NaN,SUPERSOCIEDADES,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,7730,SERVICIOS,$0.06,-$0.02,$0.08,$0.10,-$0.02,2022
13550,830065974,NaN,SUPERSOCIEDADES,Bogot√° - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,7730,SERVICIOS,$0.05,-$0.03,$0.08,$0.12,-$0.04,2021

In [710]:
#Se verifican y cambian los valores nulos encontrados en la columna 'RAZ√ìN SOCIAL' por el valor 'No registra'

#Lista de indices que se van a verificar
indices = [3529, 13550]
nuevo_valor = 'No registra'

#Ciclo para verificar y reemplazar los valores nulos de la columna
for idx in indices:
    if pd.isnull(df.loc[idx, 'RAZ√ìN SOCIAL']):
        df.loc[idx, 'RAZ√ìN SOCIAL'] = nuevo_valor

#Ciclo para verificar si los cambios se realizaron
for columna in df.columns:
    num_nulos = df[columna].isnull().sum()
    if num_nulos > 0:
        print(f"La columna '{columna}' tiene {num_nulos} valores nulos.")
    else:
        cambio_realizado = True

#Ciclo para mostrar si el cambio se realiz√≥ o no
if cambio_realizado:
       print("El cambio se realiz√≥ con √©xito‚úÖ.")
else:
    print("No se realizaron cambios‚ùå.")

El cambio se realiz√≥ con √©xito‚úÖ.

In [711]:
#Se visualizan los cambios de valores nulos
print(df.loc[3529])
print("-" * 50)
print(df.loc[13550])

NIT                                     830065974
RAZ√ìN SOCIAL                          No registra
SUPERVISOR                        SUPERSOCIEDADES
REGI√ìN                      Bogot√° - Cundinamarca
DEPARTAMENTO DOMICILIO                BOGOTA D.C.
CIUDAD DOMICILIO          BOGOTA D.C.-BOGOTA D.C.
CIIU                                         7730
MACROSECTOR                             SERVICIOS
INGRESOS OPERACIONALES                      $0.06
GANANCIA (P√âRDIDA)                         -$0.02
TOTAL ACTIVOS                               $0.08
TOTAL PASIVOS                               $0.10
TOTAL PATRIMONIO                           -$0.02
A√±o de Corte                                 2022
Name: 3529, dtype: object
--------------------------------------------------
NIT                                     830065974
RAZ√ìN SOCIAL                          No registra
SUPERVISOR                        SUPERSOCIEDADES
REGI√ìN                      Bogot√° - Cundinamarca
DEPARTAMENTO DOMICILIO                BOGOTA D.C.
CIUDAD DOMICILIO          BOGOTA D.C.-BOGOTA D.C.
CIIU                                         7730
MACROSECTOR                             SERVICIOS
INGRESOS OPERACIONALES                      $0.05
GANANCIA (P√âRDIDA)                         -$0.03
TOTAL ACTIVOS                               $0.08
TOTAL PASIVOS                               $0.12
TOTAL PATRIMONIO                           -$0.04
A√±o de Corte                                 2021
Name: 13550, dtype: object

In [712]:
#El siguiente paso es eliminar de las observaciones de las columnas los espacios en blanco al inicio y al final
#Adem√°s se cuentan cuantos espacios en blanco se eliminan

def contar_espacios_eliminados(df):
    eliminaciones_totales = 0
    for columna in df.select_dtypes(include=['object']).columns:
        # Se cuentan los espacios antes de la limpieza
        longitud_original = df[columna].str.len()
        # Se aplica la limpieza
        df[columna] = df[columna].str.strip()
        # Se cuentan los espacios despu√©s de la limpieza
        longitud_limpia = df[columna].str.len()
        # Se calcula el n√∫mero de eliminaciones
        eliminaciones = (longitud_original - longitud_limpia).sum()
        eliminaciones_totales += eliminaciones
    return eliminaciones_totales

# Se cuentan los espacios eliminados
espacios_eliminados = contar_espacios_eliminados(df)
print("Espacios eliminados:", espacios_eliminados)

Espacios eliminados: 0

In [713]:
#Se observan cuantas categor√≠as tiene cada variable de tipo 'object'

for columna in df.select_dtypes(include=['object']).columns:
    # Se convierten los valores a cadena de texto
    df[columna] = df[columna].astype(str).str.strip()
    
    # Se obtienen las categor√≠as √∫nicas
    categorias = df[columna].unique()
    
    # Se cuentan el n√∫mero de categor√≠as
    num_categorias = len(categorias)
    
    # Se visualiza la informaci√≥n de las categor√≠as por columna
    print(f"Columna: {columna}")
    print(f"N√∫mero de Categor√≠as: {num_categorias}")
    print("-" * 40)

Columna: RAZ√ìN SOCIAL
N√∫mero de Categor√≠as: 11437
----------------------------------------
Columna: SUPERVISOR
N√∫mero de Categor√≠as: 6
----------------------------------------
Columna: REGI√ìN
N√∫mero de Categor√≠as: 7
----------------------------------------
Columna: DEPARTAMENTO DOMICILIO
N√∫mero de Categor√≠as: 33
----------------------------------------
Columna: CIUDAD DOMICILIO
N√∫mero de Categor√≠as: 348
----------------------------------------
Columna: MACROSECTOR
N√∫mero de Categor√≠as: 6
----------------------------------------
Columna: INGRESOS OPERACIONALES
N√∫mero de Categor√≠as: 321
----------------------------------------
Columna: GANANCIA (P√âRDIDA)
N√∫mero de Categor√≠as: 150
----------------------------------------
Columna: TOTAL ACTIVOS
N√∫mero de Categor√≠as: 387
----------------------------------------
Columna: TOTAL PASIVOS
N√∫mero de Categor√≠as: 263
----------------------------------------
Columna: TOTAL PATRIMONIO
N√∫mero de Categor√≠as: 331
----------------------------------------

In [714]:
#Se visualizan las categor√≠as de las columnas si tienen 7 o menos

for columna in df.select_dtypes(include=['object']).columns:
    df[columna] = df[columna].astype(str).str.strip()
    categorias = df[columna].unique()
    num_categorias = len(categorias)
    
    #Verificar columnas con 7 categor√≠as o menos para visualizarlas
    if num_categorias <= 7:
        print(f"Columna: {columna}")
        print(f"N√∫mero de Categor√≠as: {num_categorias}")
        print(f"Categor√≠as: {', '.join(categorias)}")
        print("-" * 40)

Columna: SUPERVISOR
N√∫mero de Categor√≠as: 6
Categor√≠as: SUPERFINANCIERA, SUPERSOCIEDADES, SUPERSALUD, SUPERTRANSPORTE, SUPERSERVICIOS, SUPERVIGILANCIA
----------------------------------------
Columna: REGI√ìN
N√∫mero de Categor√≠as: 7
Categor√≠as: Bogot√° - Cundinamarca, Costa Atl√°ntica, Antioquia, Costa Pac√≠fica, Eje Cafetero, Centro - Oriente, Otros
----------------------------------------
Columna: MACROSECTOR
N√∫mero de Categor√≠as: 6
Categor√≠as: MINERO, MANUFACTURA, COMERCIO, SERVICIOS, CONSTRUCCI√ìN, AGROPECUARIO
----------------------------------------

Se suprimen las t√≠ldes en las observaciones para evitar discrepancias en el an√°lisis, comparaciones y agrupamientos, lo que facilita un procesamiento m√°s uniforme y preciso en el tratamiento y modelado de datos. Para esta labor se requiere la biblioteca 'unidecode'

In [716]:
from unidecode import unidecode

#Funci√≥n para eliminar tildes
def eliminar_tildes(texto):
    return unidecode(texto)

# Aplicaci√≥n de la funci√≥n para eliminar t√≠ldes sobre las columnas tipo 'object'
for columna in df.select_dtypes(include=['object']).columns:
    df[columna] = df[columna].apply(eliminar_tildes)

# Funci√≥n para validar t√≠ldes en el dataframe
def tiene_tildes(texto):
    return any(c in '√°√©√≠√≥√∫√º' for c in texto)

# Se comprueba si alguna observaci√≥n tiene t√≠lde
tildes_presentes = False
for columna in df.select_dtypes(include=['object']).columns:
    if df[columna].apply(tiene_tildes).any():
        tildes_presentes = True
        break

if tildes_presentes:
    print("A√∫n hay tildes presentes en el DataFrame‚ùå.")
else:
    print("Se han eliminado todas las tildes del DataFrame‚úÖ.")

Se han eliminado todas las tildes del DataFrame‚úÖ.

Adem√°s, se convierten todas las observaciones de texto a min√∫sculas con el mismo fin por el que se eliminaron las tildes.

In [718]:
# Funci√≥n para convertir texto a min√∫sculas
def convertir_minusculas(texto):
    return texto.lower()

# Se aplica la funci√≥n de conversi√≥n a min√∫scula en las columnas tipo 'object'
for columna in df.select_dtypes(include=['object']).columns:
    df[columna] = df[columna].apply(convertir_minusculas)

# Funci√≥n para validar si hay may√∫sculas en el Dataframe
def tiene_mayusculas(texto):
    return any(c.isupper() for c in texto)

# Se comprueba si a√∫n existen may√∫sculas
mayusculas_presentes = False
for columna in df.select_dtypes(include=['object']).columns:
    if df[columna].apply(tiene_mayusculas).any():
        mayusculas_presentes = True
        break

if mayusculas_presentes:
    print("A√∫n hay may√∫sculas presentes en el DataFrame‚ùå.")
else:
    print("Se han convertido todas las observaciones a min√∫sculas en el DataFrame‚úÖ.")

Se han convertido todas las observaciones a min√∫sculas en el DataFrame‚úÖ.

Se verifica si alguna de las observaciones de la columna 'NIT' contiene la longitud correcta (9 d√≠gitos)

In [720]:
# Funci√≥n para ajustar la longitud del Nit
def ajustar_nit(nit):
    if pd.isnull(nit):
        return nit  # Si el valor es nulo, no lo modifica
    nit_str = str(nit)  # Se convierte a texto para contar f√°cilmente el n√∫mero de caracteres.
    if len(nit_str) == 9:
        return nit_str  # Si el valor es correcto, se mantiene
    elif len(nit_str) > 9:
        return nit_str[:9]  # Quitar los d√≠gitos existentes si tiene m√°s de 9 d√≠gitos
    else:
        return 'Incorrecto'  # Indicar como incorrecto si tiene menos de 9 d√≠gitos

# Se aplica la funci√≥n a la columna 'NIT'
df['NIT'] = df['NIT'].apply(ajustar_nit)

# Se verifican los cambios realizados
num_incorrectos = df[df['NIT'] == 'Incorrecto'].shape[0]
if num_incorrectos > 0:
    print(f"Se encontraron {num_incorrectos} NITs incorrectos.")
else:
    print("Todos los NITs est√°n correctos o ajustados‚úÖ.")

Todos los NITs est√°n correctos o ajustados‚úÖ.

**Resumen de Variables**

Seg√∫n la base de datos original, las variables se encuentran clasificadas de la siguiente manera:

*Variables de tipo n√∫merico:* 
- NIT
- CIIU
- A√±o de Corte
  
*Variables de tipo object:* 
- RAZ√ìN SOCIAL
- SUPERVISOR
- REGI√ìN
- DEPARTAMENTO DOMICILIO
- CIUDAD DOMICILIO
- MACROSECTOR
- INGRESOS OPERACIONALES
- GANANCIA (P√âRDIDA)
- TOTAL ACTIVOS
- TOTAL PASIVOS
- TOTAL PATRIMONIO

üìÑ**NOTA IMPORTANTE:** Al observar la estructura de las variables se proponen cambios en el tipo de algunas de estas:

- 'NIT' y 'CIIU' pueden tratarse como variables de tipo object porque son n√∫meros identificadores e inalterables,
- 'INGRESOS OPERACIONALES', 'GANANCIA (P√âRDIDA)', 'TOTAL ACTIVOS', 'TOTAL PASIVOS' y 'TOTAL PATRIMONIO' son variables tipo object que pueden tratarse como n√∫mericas para ser analizadas de manera correcta ya que corresponden a valores monetarios pero no son identificados de dicha manera por contener el caracter $

# Actividad 2. Transformaci√≥n de datos üîÅ

In [724]:
#Se importa la libreria 'tabulate' para su uso en el desarrollo del informe
from tabulate import tabulate

Para iniciar se visualizan las variables con su tipo de datos:

In [726]:
# C√≥digos de escape ANSI para negrita
NEGRITA = '\033[1m'
RESET = '\033[0m'

# Se obtienen datos para construir la tabla
datos = [(columna, tipo) for columna, tipo in df.dtypes.items()]

# Se imprime el t√≠tulo en negrita
print(f"{NEGRITA}Variables y sus tipos de datos:{RESET}")

# Se imprime la tabla
print(tabulate(datos, headers=['Columna', 'Tipo de Dato'], tablefmt='grid'))

Variables y sus tipos de datos:
+------------------------+----------------+
| Columna                | Tipo de Dato   |
+========================+================+
| NIT                    | object         |
+------------------------+----------------+
| RAZ√ìN SOCIAL           | object         |
+------------------------+----------------+
| SUPERVISOR             | object         |
+------------------------+----------------+
| REGI√ìN                 | object         |
+------------------------+----------------+
| DEPARTAMENTO DOMICILIO | object         |
+------------------------+----------------+
| CIUDAD DOMICILIO       | object         |
+------------------------+----------------+
| CIIU                   | int64          |
+------------------------+----------------+
| MACROSECTOR            | object         |
+------------------------+----------------+
| INGRESOS OPERACIONALES | object         |
+------------------------+----------------+
| GANANCIA (P√âRDIDA)     | object         |
+------------------------+----------------+
| TOTAL ACTIVOS          | object         |
+------------------------+----------------+
| TOTAL PASIVOS          | object         |
+------------------------+----------------+
| TOTAL PATRIMONIO       | object         |
+------------------------+----------------+
| A√±o de Corte           | int64          |
+------------------------+----------------+

Para facilitar un an√°lisis posterior de los datos de las columnas *'INGRESOS OPERACIONALES'*, *'GANANCIA (P√âRDIDA)'*,*'TOTAL ACTIVOS'*, *'TOTAL PASIVOS'* y *'TOTAL PATRIMONIO'* lo ideal es convertirlas en n√∫mericas. Por lo anterior y teniendo en cuenta que estos datos est√°n en billones de pesos, a estos registros se les debe eliminar el signo $ y hacer la respectiva conversi√≥n para cambiar el tipo de datos de las columnas mencionadas.

In [728]:
#Se realiza una lista de las columnas a las que se les quitar√° el signo $
columnas_con_signo = ['INGRESOS OPERACIONALES', 'GANANCIA (P√âRDIDA)', 'TOTAL ACTIVOS', 'TOTAL PASIVOS', 'TOTAL PATRIMONIO']

#Ciclo para quitar el signo $
for columna in columnas_con_signo:
    if df[columna].dtype == 'object': 
        df[columna] = df[columna].str.replace('$', '', regex=False)

#Se visualizan las primeras filas del Dataframe para verificar el cambio
df.head()

,NIT,RAZ√ìN SOCIAL,SUPERVISOR,REGI√ìN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (P√âRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,A√±o de Corte
0,899999068,ecopetrol s.a,superfinanciera,bogota - cundinamarca,bogota d.c.,bogota d.c.-bogota d.c.,610,minero,144.82,33.41,216.85,125.81,91.03,2022
1,900112515,refineria de cartagena s.a.s,supersociedades,costa atlantica,bolivar,cartagena-bolivar,1921,manufactura,27.86,2.19,42.84,16.48,26.36,2022
2,830095213,organizacion terpel s.a.,superfinanciera,bogota - cundinamarca,bogota d.c.,bogota d.c.-bogota d.c.,4661,comercio,23.60,0.33,7.48,4.47,3.01,2022
3,860069804,carbones del cerrejon limited,supersociedades,bogota - cundinamarca,bogota d.c.,bogota d.c.-bogota d.c.,510,minero,16.39,6.05,10.45,9.00,1.45,2022
4,800021308,drummond ltd,supersociedades,bogota - cundinamarca,bogota d.c.,bogota d.c.-bogota d.c.,510,minero,15.27,2.16,14.27,6.34,7.93,2022

In [729]:
# Se enlistan las columnas que se convertiran a numericas
columnas_a_convertir = ['INGRESOS OPERACIONALES', 'GANANCIA (P√âRDIDA)', 'TOTAL ACTIVOS', 'TOTAL PASIVOS', 'TOTAL PATRIMONIO']

# Ciclo para convertir el valor a billones y a variable num√©rica
for columna in columnas_a_convertir:
    if df[columna].dtype == 'object':  
        # Conversi√≥n a variable num√©rica
        df[columna] = pd.to_numeric(df[columna], errors='coerce')
    # Conversi√≥n a billones
    df[columna] = df[columna] * 1e9

# Se visualiza las primeras filas del Dataframe para verificar el cambio
df.head()

,NIT,RAZ√ìN SOCIAL,SUPERVISOR,REGI√ìN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (P√âRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,A√±o de Corte
0,899999068,ecopetrol s.a,superfinanciera,bogota - cundinamarca,bogota d.c.,bogota d.c.-bogota d.c.,610,minero,1.448200e+11,3.341000e+10,2.168500e+11,1.258100e+11,9.103000e+10,2022
1,900112515,refineria de cartagena s.a.s,supersociedades,costa atlantica,bolivar,cartagena-bolivar,1921,manufactura,2.786000e+10,2.190000e+09,4.284000e+10,1.648000e+10,2.636000e+10,2022
2,830095213,organizacion terpel s.a.,superfinanciera,bogota - cundinamarca,bogota d.c.,bogota d.c.-bogota d.c.,4661,comercio,2.360000e+10,3.300000e+08,7.480000e+09,4.470000e+09,3.010000e+09,2022
3,860069804,carbones del cerrejon limited,supersociedades,bogota - cundinamarca,bogota d.c.,bogota d.c.-bogota d.c.,510,minero,1.639000e+10,6.050000e+09,1.045000e+10,9.000000e+09,1.450000e+09,2022
4,800021308,drummond ltd,supersociedades,bogota - cundinamarca,bogota d.c.,bogota d.c.-bogota d.c.,510,minero,1.527000e+10,2.160000e+09,1.427000e+10,6.340000e+09,7.930000e+09,2022

Se convierte la variable 'NIT' a tipo *object* porque esta se utiliza principalmente para identificaci√≥n y no para c√°lculos num√©ricos. Esto evita errores de interpretaci√≥n, preserva el formato y asegura que todas las operaciones sobre esta variable se realicen correctamente.
Por la misma raz√≥n se cambia el tipo de la variable CIIU, ya que este es un indentificador de categor√≠as industriales.

In [731]:
# Se convierten las variables 'NIT' y 'CIIU' a tipo 'object'
df['NIT'] = df['NIT'].astype('object')
df['CIIU'] = df['CIIU'].astype('object')

#Se verifica el tipo de dato de las variables 'NIT' y 'CIIU'
df[['NIT', 'CIIU']].dtypes

NIT     object
CIIU    object
dtype: object

Finalmente, el tipo de dato para cada variable es el siguiente:

In [733]:
df.dtypes

NIT                        object
RAZ√ìN SOCIAL               object
SUPERVISOR                 object
REGI√ìN                     object
DEPARTAMENTO DOMICILIO     object
CIUDAD DOMICILIO           object
CIIU                       object
MACROSECTOR                object
INGRESOS OPERACIONALES    float64
GANANCIA (P√âRDIDA)        float64
TOTAL ACTIVOS             float64
TOTAL PASIVOS             float64
TOTAL PATRIMONIO          float64
A√±o de Corte                int64
dtype: object

---

El DataFrame ha sido cuidadosamente limpiado y preprocesado, asegurando que todos los datos est√©n en un formato uniforme y adecuado para el an√°lisis. Se han eliminado caracteres no deseados, se han corregido las inconsistencias y se han realizado las conversiones necesarias para que los datos est√©n listos para el an√°lisis detallado. Con estos ajustes, el DataFrame est√° ahora preparado para proporcionar informaci√≥n precisa y √∫til en las etapas siguientes del an√°lisis de datos. üîú